:root[data-theme="dark"] {
    --backgroundColor: #242424;
    --color: rgba(255, 255, 255, 0.87);
}

:root[data-theme="light"] {
    --backgroundColor: #a7a2a2;
    --color: #000;
}

:root {
    --baseMaxWidth: 1600px;
    --mainContainerPaddingInline: 2rem;
}

@media (max-width: 768px) {
    :root {
         --mainContainerPaddingInline: 1rem;
    }
}
