.button.primary {
    background-color: var(--colorGray);
}

.button.secondary {
    background-color: var(--colorLightBlue);
}

.button[disabled] {
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .button {
        padding: 8px 16px;
        font-size: 18px;
    }
}
