.header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--colorBaseWhite);
    padding: 8px 0 32px 0;
    display: flex;
    justify-content: center;
    background-color: var(--backgroundColor);
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 0.1fr;
    max-width: var(--baseMaxWidth);
    width: 100%;
    gap: 10px;
}

.container > h1 {
    font-size: 30px;
    margin: 0;
    justify-self: left;
}

.icon {
    font-size: 65px;
}

@media (max-width: 768px) {
    .header {
        padding: 8px 0;
    }

    .container {
        padding-inline: 8px;
    }

    .container > h1 {
        font-size: 20px;
        
    }

    .icon {
        font-size: 30px;
    }
}
